In [1]:
import statistics
import pandas as pd
import numpy as np
from scipy.stats import gmean

In [2]:
#reading the csv file 
df=pd.read_csv('IITK_Courses_Report.csv')
print(df.head())

       Student Name  Course  Marks (%)  Attendance (%)
0       Dipon Konar  ELC111      56.72           63.08
1    Parth Parashar  PHY113      84.59           20.96
2       Anurag Sahu  MTH113      41.13           59.86
3  Hemakshi Kumawat  CHM112      59.43           57.34
4    Parth Parashar  ELC111      62.88           30.82

In [3]:
#checking for null data
print("\nThe null data in the data frame is:")
print(df.isnull().sum())

The null data in the data frame is:
Student Name      12
Course             3
Marks (%)         13
Attendance (%)    17
dtype: int64

In [5]:
#checking for null values in the data frame
empty_check = df.isnull().sum()
print(empty_check)

Student Name       0
Course             0
Marks (%)         13
Attendance (%)    17
dtype: int64

In [6]:
# Drop rows where any non-numerical column contains null values
non_numerical_columns = df.select_dtypes(include=['object']).columns
df = df.dropna(subset=non_numerical_columns)

In [7]:
# Replace null values in numerical columns using the geometric mean
numerical_columns = df.select_dtypes(include=[np.number]).columns

In [8]:
def replace_with_geometric_mean(df,col):
        for index in df[df[col].isnull()].index:
            if 0 < index < len(df) - 1:
                above = df.loc[index - 1, col]
                below = df.loc[index + 1, col]
                if not pd.isnull(above) and not pd.isnull(below):
                    df.loc[index, col] = gmean([above, below])
        return df

In [9]:
for col in numerical_columns:
    df = replace_with_geometric_mean(df,col)

In [10]:
print("\nDataFrame after handling null values in numerical columns:")
print(df.head())

DataFrame after handling null values in numerical columns:
       Student Name  Course  Marks (%)  Attendance (%)
0       Dipon Konar  ELC111      56.72           63.08
1    Parth Parashar  PHY113      84.59           20.96
2       Anurag Sahu  MTH113      41.13           59.86
3  Hemakshi Kumawat  CHM112      59.43           57.34
4    Parth Parashar  ELC111      62.88           30.82

In [11]:
# Save the cleaned DataFrame to a new CSV file
cleaned_file_path = "Cleaned_IITK_Courses_Report.csv"
df.to_csv(cleaned_file_path, index=False)
print(f"\nCleaned DataFrame saved to {cleaned_file_path}")

Cleaned DataFrame saved to Cleaned_IITK_Courses_Report.csv